<header class="app-header">
  <div class="header-container">
    <nav class="nav-bar">
      <ul class="nav-links">
        <li>
          <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Home
          </a>
        </li>
        <li>
          <a routerLink="/category" routerLinkActive="active">Categories</a>
        </li>
        <li>
          <a routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="cart-icon" >
      <a routerLink="/cart" routerLinkActive="active">
        <i class="fa-solid fa-cart-shopping"></i>
        <span>{{cartItems}}</span>
      </a>
    </div>
    <div class="profile-icon mx-2" *ngIf="isLoggedIn">
      <a routerLink="/profile" routerLinkActive="active">
        <i class="fa-solid fa-user"></i>
      </a>
    </div>
    <div class="profile-icon mx-2" *ngIf="!isLoggedIn">
      <a routerLink="/login" routerLinkActive="active">
        <i class="fa-solid fa-right-to-bracket"></i>
      </a>
    </div>
  </div>
</header>
