<footer class="app-footer">
  <div class="footer-content">
    <p class="footer-logo">Gecko © {{ currentYear}}</p>

    <ul class="footer-links">
      <li><a routerLink="/privacy-policy">Privacy</a></li>
      <li><a routerLink="/terms-and-conditions">Terms</a></li>
      <li><a routerLink="/support">Support</a></li>
    </ul>

    <div class="footer-social">
      <a [href]=facebookLink target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a [href]=twitterLink target="_blank"><i class="fa-brands fa-twitter"></i></a>
      <a [href]=instagramLink target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a [href]=youtubeLink target="_blank"><i class="fa-brands fa-github"></i></a>
    </div>
  </div>
</footer>
